In [2]:
import firebase_admin
from firebase_admin import credentials,db
import pandas as pd
import numpy as np

In [4]:
cred = credentials.Certificate('Firebase JSON file here')
firebase_admin.initialize_app(cred,{
                             'databaseURL': 'Firebase DB URL here'})

In [66]:
ref = db.reference('/')

In [20]:
data = {'check':{'test_key' : 'value1'}}

In [22]:
ref.push(data)

In [184]:
d = ref.get()

In [186]:
df = pd.DataFrame()

In [188]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [190]:
d['food']['Cuisine']

['Pakistani',
 'Pakistani',
 'Chinese',
 'Chinese',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Middle Eastern',
 'Fast Food',
 'Fast Food',
 'Chinese',
 'Pakistani',
 'Pakistani',
 'Pakistani',
 'Pakistani',
 'Pakistani',
 'Pakistani',
 'Pakistani']

In [192]:
df['Cuisine'] = d['food']['Cuisine']

In [194]:
df['Key_Ingredients'] = d['food']['Key_Ingredients']

In [196]:
df['Spiciness'] = d['food']['Spiciness']

In [198]:
df['Type'] = d['food']['Type']

In [200]:
df['Menu'] = d['food']['Menu']

In [202]:
df.head()

     Cuisine           Key_Ingredients Spiciness         Type             Menu
0  Pakistani     Chicken, Rice, Spices      High  Main Course  Chicken Biryani
1  Pakistani             Chicken, Rice    Medium  Main Course    Chicken Pulao
2    Chinese  Noodles, Chicken, Spices    Medium  Main Course         Chowmien
3    Chinese             Pasta, Cheese       Low        Snack         Macaroni
4  Fast Food                  Potatoes       Low        Snack      Plain Fries

In [204]:
df ['Type'] = df['Type'].apply(lambda x:[x.replace(" ", "")])

df.head()

,Cuisine,Key_Ingredients,Spiciness,Type,Menu
0,Pakistani,"Chicken, Rice, Spices",High,[MainCourse],Chicken Biryani
1,Pakistani,"Chicken, Rice",Medium,[MainCourse],Chicken Pulao
2,Chinese,"Noodles, Chicken, Spices",Medium,[MainCourse],Chowmien
3,Chinese,"Pasta, Cheese",Low,[Snack],Macaroni
4,Fast Food,Potatoes,Low,[Snack],Plain Fries

In [206]:
df ['Cuisine'] = df['Cuisine'].apply(lambda x:[x.replace(" ", "")])

df.head()

,Cuisine,Key_Ingredients,Spiciness,Type,Menu
0,[Pakistani],"Chicken, Rice, Spices",High,[MainCourse],Chicken Biryani
1,[Pakistani],"Chicken, Rice",Medium,[MainCourse],Chicken Pulao
2,[Chinese],"Noodles, Chicken, Spices",Medium,[MainCourse],Chowmien
3,[Chinese],"Pasta, Cheese",Low,[Snack],Macaroni
4,[FastFood],Potatoes,Low,[Snack],Plain Fries

In [212]:
df['Spiciness'] = df['Spiciness'].apply(lambda x:x.split())
df['Key_Ingredients'] = df['Key_Ingredients'].apply(lambda x:x.split())

In [214]:
df.head()

,Cuisine,Key_Ingredients,Spiciness,Type,Menu
0,[Pakistani],"[Chicken,, Rice,, Spices]",[High],[MainCourse],Chicken Biryani
1,[Pakistani],"[Chicken,, Rice]",[Medium],[MainCourse],Chicken Pulao
2,[Chinese],"[Noodles,, Chicken,, Spices]",[Medium],[MainCourse],Chowmien
3,[Chinese],"[Pasta,, Cheese]",[Low],[Snack],Macaroni
4,[FastFood],[Potatoes],[Low],[Snack],Plain Fries

In [62]:
df ['Cuisine'] = df['Cuisine'].apply(lambda x:[i.replace(" ", "") for i in x])
df ['Key_Ingredients'] = df['Key_Ingredients'].apply(lambda x:[i.replace(" ", "") for i in x])
df ['Spiciness'] = df['Spiciness'].apply(lambda x:[i.replace(" ", "") for i in x])
df ['Type'] = df['Type'].apply(lambda x:[i.replace(" ", "") for i in x])

In [134]:
df.head()

,Cuisine,Key_Ingredients,Spiciness,Type,Menu
0,[Pakistani],"[Chicken,, Rice,, Spices]",[High],[MainCourse],Chicken Biryani
1,[Pakistani],"[Chicken,, Rice]",[Medium],[MainCourse],Chicken Pulao
2,[Chinese],"[Noodles,, Chicken,, Spices]",[Medium],[MainCourse],Chowmien
3,[Chinese],"[Pasta,, Cheese]",[Low],[Snack],Macaroni
4,[FastFood],[Potatoes],[Low],[Snack],Plain Fries

In [216]:
df['tags'] = df['Cuisine'] + df['Key_Ingredients'] + df['Spiciness'] + df['Type']

In [218]:
df.head()

,Cuisine,Key_Ingredients,Spiciness,Type,Menu,tags
0,[Pakistani],"[Chicken,, Rice,, Spices]",[High],[MainCourse],Chicken Biryani,"[Pakistani, Chicken,, Rice,, Spices, High, Mai..."
1,[Pakistani],"[Chicken,, Rice]",[Medium],[MainCourse],Chicken Pulao,"[Pakistani, Chicken,, Rice, Medium, MainCourse]"
2,[Chinese],"[Noodles,, Chicken,, Spices]",[Medium],[MainCourse],Chowmien,"[Chinese, Noodles,, Chicken,, Spices, Medium, ..."
3,[Chinese],"[Pasta,, Cheese]",[Low],[Snack],Macaroni,"[Chinese, Pasta,, Cheese, Low, Snack]"
4,[FastFood],[Potatoes],[Low],[Snack],Plain Fries,"[FastFood, Potatoes, Low, Snack]"

In [220]:
new_df = df[['Menu', 'tags']]

In [222]:
new_df.head()

              Menu                                               tags
0  Chicken Biryani  [Pakistani, Chicken,, Rice,, Spices, High, Mai...
1    Chicken Pulao    [Pakistani, Chicken,, Rice, Medium, MainCourse]
2         Chowmien  [Chinese, Noodles,, Chicken,, Spices, Medium, ...
3         Macaroni              [Chinese, Pasta,, Cheese, Low, Snack]
4      Plain Fries                   [FastFood, Potatoes, Low, Snack]

In [224]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\Hp\AppData\Local\Temp\ipykernel_6908\1955922539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

              Menu                                               tags
0  Chicken Biryani    Pakistani Chicken, Rice, Spices High MainCourse
1    Chicken Pulao          Pakistani Chicken, Rice Medium MainCourse
2         Chowmien  Chinese Noodles, Chicken, Spices Medium MainCo...
3         Macaroni                    Chinese Pasta, Cheese Low Snack
4      Plain Fries                        FastFood Potatoes Low Snack

In [226]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Hp\AppData\Local\Temp\ipykernel_6908\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [228]:
from sklearn.feature_extraction.text import CountVectorizer

In [230]:
cv = CountVectorizer(max_features=5000)

In [232]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0],
       [0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0],
       [1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
        0, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
        0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1]], dtype=int64)

In [234]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [236]:
cv.get_feature_names_out()

array(['bread', 'butter', 'cheese', 'chicken', 'chinese', 'dough',
       'fastfood', 'flour', 'garlic', 'high', 'low', 'maincourse', 'mayo',
       'meat', 'medium', 'middleeastern', 'minced', 'noodles',
       'pakistani', 'paratha', 'pasta', 'potatoes', 'rice', 'snack',
       'spices', 'vegetables', 'water'], dtype=object)

In [238]:
from sklearn.metrics.pairwise import cosine_similarity

In [240]:
similarity = cosine_similarity(vectors)

In [242]:
def recommend(item):
    df_index = new_df[new_df['Menu'] == item].index[0]
    distances = similarity[df_index]
    distances = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])
    for i in distances[1:3]:
        print(new_df.iloc[i[0]].Menu)

In [252]:
recommend("Pizza")

Kruch Burger
Chicken Pulao

In [254]:
def recommend_to_firebase(item, new_df, similarity):
    """
    Stores recommendations for each menu item in Firebase Realtime Database.
    
    Parameters:
    - item: The menu item for which recommendations are being generated.
    - new_df: DataFrame containing menu items and details.
    - similarity: Similarity matrix for recommendations.
    """
    # Find the index of the given menu item
    df_index = new_df[new_df['Menu'] == item].index[0]
    
    # Calculate distances and sort by similarity
    distances = similarity[df_index]
    distances = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])
    
    # Extract the top 2 recommendations (excluding the item itself)
    recommendations = [new_df.iloc[i[0]].Menu for i in distances[1:3]]
    
    # Prepare data to send to Firebase
    data = {
        'item': item,
        'recommendations': recommendations
    }
    
    # Write to Firebase under the 'recommendations' node
    ref = db.reference('recommendations')
    ref.child(item).set(data)
    print(f"Recommendations for {item} stored in Firebase: {recommendations}")

In [256]:
menu_items = new_df['Menu'].tolist()
for item in menu_items:
    recommend_to_firebase(item, new_df, similarity)

Recommendations for Chicken Biryani stored in Firebase: ['Curry', 'Chicken Pulao']
Recommendations for Chicken Pulao stored in Firebase: ['Chicken Biryani', 'Pizza']
Recommendations for Chowmien stored in Firebase: ['Shawarma', 'Chicken Pulao']
Recommendations for Macaroni stored in Firebase: ['Spring Roll', 'Plain Fries']
Recommendations for Plain Fries stored in Firebase: ['Mayo Garlic Fries', 'Macaroni']
Recommendations for Mayo Garlic Fries stored in Firebase: ['Plain Fries', 'Macaroni']
Recommendations for Hotshots stored in Firebase: ['Chicken Wings', 'Zinger Burger']
Recommendations for Chicken Wings stored in Firebase: ['Chicken Wings', 'Zinger Burger']
Recommendations for Pizza stored in Firebase: ['Kruch Burger', 'Chicken Pulao']
Recommendations for Shawarma stored in Firebase: ['Chowmien', 'Kruch Burger']
Recommendations for Kruch Burger stored in Firebase: ['Pizza', 'Shawarma']
Recommendations for Zinger Burger stored in Firebase: ['Hotshots', 'Chicken Wings']
Recommendations for Spring Roll stored in Firebase: ['Macaroni', 'Plain Fries']
Recommendations for Curry stored in Firebase: ['Chicken Biryani', 'Zinger Burger']
Recommendations for Chicken Tikka Roll stored in Firebase: ['Chicken Samosa', 'Aloo Paratha']
Recommendations for Paratha stored in Firebase: ['Aloo Paratha', 'Chicken Samosa']
Recommendations for Aloo Paratha stored in Firebase: ['Chicken Samosa', 'Chicken Tikka Roll']
Recommendations for Chicken Samosa stored in Firebase: ['Chicken Tikka Roll', 'Aloo Paratha']
Recommendations for Seekh Kabab stored in Firebase: ['Aloo Paratha', 'Chicken Samosa']
Recommendations for Roti stored in Firebase: ['Chicken Pulao', 'Curry']