In [10]:
num = 12
name = "Ali"

<h2>Formatting Strings</h2>

Ensure that the ".format" is entered iside the parantheses of the print!

In [8]:
print("My number is {} and my name is {}.".format(num,name))

My number is 12 and my name is Ali.

In [18]:
print("My name is {one} and my number is {two}. Rewriting my name again which is {one}".format(one = name , two = num))

My name is Ali and my number is 12. Rewriting my name again which is Ali

In [22]:
name[2]

'i'

In [26]:
rando = "AliShoaibHasan"

In [28]:
rando[0:]

'AliShoaibHasan'

In [30]:
rando[:0]

''

In [32]:
rando[0:9]

'AliShoaib'

In [34]:
#Accessing Nested List!

my_list = [0,1,2, [4,5,["target 1" , "target 2"]]]

In [36]:
my_list[3][2][1]

'target 2'

In [3]:
list1 = [1,2,3,4,5,6]
for num in list1:
    print("{}".format(num))

1
2
3
4
5
6

In [8]:
for x in range(3,7):
    print(x)

3
4
5
6

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

<h1>LIST COMPREHENSION</h1>
This is done to save time and instead of using a for loop to store the values in the out array and update the list values we simply use the list comprehension method.

In [17]:
out = [num**2 for num in list1]
print(out)

[1, 4, 9, 16, 25, 36]

<h1>FUNCTIONS</h1>

In [25]:
def my_func(p1, p2):
    print(p1+p2)

In [27]:
my_func(3,3)

6

<h1>DOCSTRING</h1>

In [30]:
def func(num):
    """
    THIS IS A MULTILINE DOCSTRING
    A DOCSTRING EXPLAINS WHAT THE FUNCTION DOES
    IT CAN BE CHECKED BY ENTERING SHIFT+TAB AFTER THE FUNCTION IS CALLED TO INFORM WHAT THE FUNCTION DOES WHICH MAKES IT SPECIAL FROM SIMPLE COMMENTS


    THIS FUNCTION SQUARES THE NUMBER!
    """
    return num**2

In [32]:
out = func(3)
print(out)

9

<h1>MAP METHOD WITH LAMBDA EXPRESSION</h1>

The map method is a method which can be applied to all the elements inside the list. The lambda expression helps in wirting a short function in a much more shorter way. Lambda keyword mst be used and the name and return keyword of the function can be removed.

In [4]:
lambda var:var*2

In [7]:
print(list1)
list1 = list(map(lambda num: num*4, list1))
print(list1)

[1, 2, 3, 4, 5, 6]
[4, 8, 12, 16, 20, 24]

<h1>FILTER FUNCTION</h1>

The filter function returns those values from the list which pass a certain test

In [14]:
list2 = list(filter(lambda num : num>10, list1))
print(list2)
#The values greater then 10 from list1 will be stored in the list2

[12, 16, 20, 24]

<h1>METHODS</h1>

In [27]:
s = "My name is Ali"

print(s.lower())
print(s.upper())

my name is ali
MY NAME IS ALI

<h3>SPLIT METHOD</h3>

In [32]:
tweet = "Go Arsenal! What a win! #EPL #Arsenal"
tweet.split()
#This removes all the whitespaces from the tweet and only the words are stored in the list

['Go', 'Arsenal!', 'What', 'a', 'win!', '#EPL', '#Arsenal']

In [36]:
tweet.split("#")
#This removes all the whitespaces and the # from the tweet and only the words are stored in the list

['Go Arsenal! What a win! ', 'EPL ', 'Arsenal']

<h3>IN OPERATOR</h3>

In [49]:
"x" in tweet

False

In [51]:
"Arsenal" in tweet

True

<h2>TUPLE UNPACKING</h2>

This is used when a tuple is used inside of a list. Instead of obtaining a complete tuple from a list we can even obtain s ingle item from a tuple as well. Example below

In [56]:
ran = [(0,1),(2,3),(4,5)]
for x in ran:
    print(x)
#This will return the tuples present inside each index of the list. We can obtain a single tuple value as well in the next cell

(0, 1)
(2, 3)
(4, 5)

In [60]:
for x,y in ran:
    print(x)
    print(y)
#Here we obtain single value from every tuple

0
1
2
3
4
5