In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4) , ['A' , 'B', 'C', 'D' , 'E'] , [0,1,2,3])
df

          0         1         2         3
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df['new'] = [5,7,3,2,9]

In [7]:
df

          0         1         2         3  new
A  2.706850  0.628133  0.907969  0.503826    5
B  0.651118 -0.319318 -0.848077  0.605965    7
C -2.018168  0.740122  0.528813 -0.589001    3
D  0.188695 -0.758872 -0.933237  0.955057    2
E  0.190794  1.978757  2.605967  0.683509    9

In [11]:
df.drop('new' , axis = 1)

          0         1         2         3
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
df.drop('E')

          0         1         2         3  new
A  2.706850  0.628133  0.907969  0.503826    5
B  0.651118 -0.319318 -0.848077  0.605965    7
C -2.018168  0.740122  0.528813 -0.589001    3
D  0.188695 -0.758872 -0.933237  0.955057    2

In [19]:
df.loc['A']

0      2.706850
1      0.628133
2      0.907969
3      0.503826
new    5.000000
Name: A, dtype: float64

In [21]:
df.iloc[2]

0     -2.018168
1      0.740122
2      0.528813
3     -0.589001
new    3.000000
Name: C, dtype: float64